* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    }

a {
    text-decoration: none;
color: black;
}

.contenedor {
   width: 100%;
   min-height: 100vh;
   margin: 0 auto; 
   display: grid;
   grid-template-columns: minmax (90px, 90px) auto;
   grid-row: 60px auto;
   grid-template-areas: "header header"
                        "menu contenedor";
transition: all .3s ease ;
}

.contenedor.active {
    grid-template-columns: minmax (300px, 18%) auto;

}

.header {
    grid-area: header;
 padding: 0 20px;
 display: grid;
 grid-template-columns: auto 1fr auto;
 align-items: center;
 justify-content: space-between;
 grid-gap: 20px;
grid-template-areas: "logo busquedad iconos"; 
}

.header .contenedor-logo {
    grid-area: logo;
    display: flex;
    align-items: center;     
}
.header .contenedor-logo .boton-menu {
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.header .contenedor-logo .boton-menu hover {
     background: #e7e;
}

.header .contenedor-logo .logo .fas {
    background: rgb(242, 212, 241);
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 8px;
    color: azure;
    position: relative;
    top:  -4px;
    margin-left: 4px;
    } 

.header .contenedor-logo .logo {
        font-family: 'Lucida Grande';
        font-size: 20px;
        position: relative;
        top: -2px;
    }

.header .barra-busquedad {
    grid-area:busquedad;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .barra-busquedad input {
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px  solid #ccc;
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
}

.header .barra-busquedad button {
    height: 35px;
    border: 1px  solid #ccc;
    border-left: none;
    color: #545454;
    background: #f8f8f8;
    padding: 0px 20px;
    cursor: pointer;
}

.header .barra-busquedad button :hover {
    background: #f5f5f5;
}

.header .botones-header {
    grid-area: iconos;
    display: flex;
    align-items: center; 
}

.header .botones-header button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 50px;
    padding: 7px 12px;
    border-radius: 100px;
    color: #828282;
    margin-right: 20px;
    cursor: pointer;
}
.header .botones-header button :hover {
    background: rgb(122, 105, 105);
}

.header .botones-header .avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.header .botones-header .avatar img {
   vertical-align: top;
   width: 100%;
   border-radius: 100px;

}

.menu-lateral {
    grid-area: menu;
    background: rgb(246, 200, 246);
}
.menu-lateral a {
display: block;
padding: 15px 35px;
color: #001768;

}
.menu-lateral a:hover {
   background: #000;; 
}
 
.menu-lateral a.active {
    background: #000;
    font-weight: bold;
}

.menu-lateral .fas {
    color: #033f44;
    margin-right: 32px;
    width: 20px;
    text-align: center;

}
.menu-lateral a.active .fas {
    color: #e7e;
    }

    .menu-lateral hr {
        margin: 20px 0px;
        border: 1px solid #dfdfdf;
        }

.main {
    grid-area: contenido;
    background: #f5bee6;
    padding: 40px;
    }

    .main .titulo {
        margin-bottom: 20px;
    }

    .main .grid-video {
        display: grid;
        grid-gap: 40px 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .main .grid-video .video {
        width: 100%;
        display: block;
  }
  .main .grid-video .video {
     height: 100%;
  }
  @media screen and (max- width:1200px)
    .main .grid-video {
        grid-template-columns: repeat(2, 1fr);
  }
  .header .contenedor-logo .logo span {
    display: none;

  }
  .header .barra-busquedad input {
    min-width: 100%;
 }